<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/
PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>startParameter</key>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>destinationCount</key>
			<integer>2</integer>
			<key>engine</key>
			<string>engine_1</string>
			<key>passengerWagonCount</key>
			<integer>1</integer>
			<key>activityWagonCount</key>
			<integer>0</integer>
			<key>coins</key>
			<integer>575</integer>
			<key>premiumCoins</key>
			<integer>0</integer>
		</dict>
		<key>levelRewards</key>
		<array>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>cairo</string>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>beijing</string>
			</dict>
			<dict>
				<key>engine</key>
				<string>engine_2</string>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>burialGround</string>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>engine</key>
				<string>engine_3</string>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>london</string>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>engine</key>
				<string>engine_4</string>
			</dict>
			<dict>
				<key>destination</key>
				<string>paris</string>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>tokyo</string>
				<key>engine</key>
				<string>engine_5</string>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>sydney</string>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>engine</key>
				<string>engine_6</string>
			</dict>
			<dict>
				<key>destination</key>
				<string>rioDeJaniero</string>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>newYork</string>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>engine</key>
				<string>engine_7</string>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>havana</string>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>necropolis</string>
			</dict>
			<dict>
				<key>engine</key>
				<string>engine_8</string>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>underworld</string>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>cityOfTheDead</string>
				<key>engine</key>
				<string>engine_9</string>
			</dict>
			<dict>
			</dict>
			<dict>
				<key>destination</key>
				<string>moscow</string>
			</dict>
		</array>
		<key>destinations</key>
		<dict>
			<key>order</key>
			<array>
				<string>limbo</string>
				<string>sanFrancisco</string>
				<string>cairo</string>
				<string>beijing</string>
				<string>burialGround</string>
				<string>london</string>
				<string>paris</string>
				<string>tokyo</string>
				<string>sydney</string>
				<string>rioDeJaniero</string>
				<string>newYork</string>
				<string>havana</string>
				<string>necropolis</string>
				<string>underworld</string>
				<string>cityOfTheDead</string>
				<string>moscow</string>
			</array>
			<key>info</key>
			<dict>
				<key>limbo</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>3</integer>
					<key>travelTime</key>
					<integer>324</integer>
					<key>expPerPassenger</key>
					<integer>1</integer>
					<key>fastForwardPrice</key>
					<integer>1</integer>
				</dict>
				<key>sanFrancisco</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>3</integer>
					<key>travelTime</key>
					<integer>1224</integer>
					<key>expPerPassenger</key>
					<integer>2</integer>
					<key>fastForwardPrice</key>
					<integer>1</integer>
				</dict>
				<key>cairo</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>3</integer>
					<key>travelTime</key>
					<integer>2700</integer>
					<key>expPerPassenger</key>
					<integer>3</integer>
					<key>fastForwardPrice</key>
					<integer>2</integer>
				</dict>
				<key>beijing</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>5</integer>
					<key>travelTime</key>
					<integer>4824</integer>
					<key>expPerPassenger</key>
					<integer>4</integer>
					<key>fastForwardPrice</key>
					<integer>3</integer>
				</dict>
				<key>burialGround</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>5</integer>
					<key>travelTime</key>
					<integer>7524</integer>
					<key>expPerPassenger</key>
					<integer>5</integer>
					<key>fastForwardPrice</key>
					<integer>5</integer>
				</dict>
				<key>london</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>5</integer>
					<key>travelTime</key>
					<integer>10800</integer>
					<key>expPerPassenger</key>
					<integer>6</integer>
					<key>fastForwardPrice</key>
					<integer>6</integer>
				</dict>
				<key>paris</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>7</integer>
					<key>travelTime</key>
					<integer>14724</integer>
					<key>expPerPassenger</key>
					<integer>7</integer>
					<key>fastForwardPrice</key>
					<integer>9</integer>
				</dict>
				<key>tokyo</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>7</integer>
					<key>travelTime</key>
					<integer>19224</integer>
					<key>expPerPassenger</key>
					<integer>8</integer>
					<key>fastForwardPrice</key>
					<integer>11</integer>
				</dict>
				<key>sydney</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>7</integer>
					<key>travelTime</key>
					<integer>24300</integer>
					<key>expPerPassenger</key>
					<integer>9</integer>
					<key>fastForwardPrice</key>
					<integer>14</integer>
				</dict>
				<key>rioDeJaniero</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>9</integer>
					<key>travelTime</key>
					<integer>30024</integer>
					<key>expPerPassenger</key>
					<integer>10</integer>
					<key>fastForwardPrice</key>
					<integer>17</integer>
				</dict>
				<key>newYork</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>9</integer>
					<key>travelTime</key>
					<integer>36324</integer>
					<key>expPerPassenger</key>
					<integer>11</integer>
					<key>fastForwardPrice</key>
					<integer>21</integer>
				</dict>
				<key>havana</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>9</integer>
					<key>travelTime</key>
					<integer>43200</integer>
					<key>expPerPassenger</key>
					<integer>12</integer>
					<key>fastForwardPrice</key>
					<integer>24</integer>
				</dict>
				<key>necropolis</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>9</integer>
					<key>travelTime</key>
					<integer>50724</integer>
					<key>expPerPassenger</key>
					<integer>13</integer>
					<key>fastForwardPrice</key>
					<integer>29</integer>
				</dict>
				<key>underworld</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>12</integer>
					<key>travelTime</key>
					<integer>58824</integer>
					<key>expPerPassenger</key>
					<integer>14</integer>
					<key>fastForwardPrice</key>
					<integer>33</integer>
				</dict>
				<key>cityOfTheDead</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>12</integer>
					<key>travelTime</key>
					<integer>67500</integer>
					<key>expPerPassenger</key>
					<integer>15</integer>
					<key>fastForwardPrice</key>
					<integer>38</integer>
				</dict>
				<key>moscow</key>
				<dict>
					<key>maxPassengerSkillValue</key>
					<integer>15</integer>
					<key>travelTime</key>
					<integer>76824</integer>
					<key>expPerPassenger</key>
					<integer>16</integer>
					<key>fastForwardPrice</key>
					<integer>43</integer>
				</dict>
			</dict>
		</dict>
		<key>wagons</key>
		<dict>
			<key>prices</key>
			<dict>
				<key>activityWagon</key>
				<array>
					<dict>
						<key>coins</key>
						<integer>275</integer>
						<key>premiumCoins</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>1050</integer>
						<key>premiumCoins</key>
						<integer>6</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>2325</integer>
						<key>premiumCoins</key>
						<integer>12</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>4100</integer>
						<key>premiumCoins</key>
						<integer>21</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>6375</integer>
						<key>premiumCoins</key>
						<integer>32</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>9150</integer>
						<key>premiumCoins</key>
						<integer>46</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>12425</integer>
						<key>premiumCoins</key>
						<integer>63</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>16200</integer>
						<key>premiumCoins</key>
						<integer>81</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>20475</integer>
						<key>premiumCoins</key>
						<integer>103</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>25250</integer>
						<key>premiumCoins</key>
						<integer>127</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>30525</integer>
						<key>premiumCoins</key>
						<integer>153</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>36300</integer>
						<key>premiumCoins</key>
						<integer>182</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>42575</integer>
						<key>premiumCoins</key>
						<integer>213</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>49350</integer>
						<key>premiumCoins</key>
						<integer>247</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>56625</integer>
						<key>premiumCoins</key>
						<integer>284</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>64400</integer>
						<key>premiumCoins</key>
						<integer>322</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>72675</integer>
						<key>premiumCoins</key>
						<integer>364</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>81450</integer>
						<key>premiumCoins</key>
						<integer>408</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>90725</integer>
						<key>premiumCoins</key>
						<integer>454</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>100500</integer>
						<key>premiumCoins</key>
						<integer>503</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>110775</integer>
						<key>premiumCoins</key>
						<integer>554</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>121550</integer>
						<key>premiumCoins</key>
						<integer>608</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>132825</integer>
						<key>premiumCoins</key>
						<integer>665</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>144600</integer>
						<key>premiumCoins</key>
						<integer>723</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>156875</integer>
						<key>premiumCoins</key>
						<integer>785</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>169650</integer>
						<key>premiumCoins</key>
						<integer>849</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>182925</integer>
						<key>premiumCoins</key>
						<integer>915</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>196700</integer>
						<key>premiumCoins</key>
						<integer>984</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>210975</integer>
						<key>premiumCoins</key>
						<integer>1055</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>225750</integer>
						<key>premiumCoins</key>
						<integer>1129</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>241025</integer>
						<key>premiumCoins</key>
						<integer>1206</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>256800</integer>
						<key>premiumCoins</key>
						<integer>1284</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>273075</integer>
						<key>premiumCoins</key>
						<integer>1366</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>289850</integer>
						<key>premiumCoins</key>
						<integer>1450</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>307125</integer>
						<key>premiumCoins</key>
						<integer>1536</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>324900</integer>
						<key>premiumCoins</key>
						<integer>1625</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>343175</integer>
						<key>premiumCoins</key>
						<integer>1716</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>361950</integer>
						<key>premiumCoins</key>
						<integer>1810</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>381225</integer>
						<key>premiumCoins</key>
						<integer>1907</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>401000</integer>
						<key>premiumCoins</key>
						<integer>2005</integer>
					</dict>
				</array>
				<key>passengerWagon</key>
				<array>
					<dict>
						<key>coins</key>
						<integer>300</integer>
						<key>premiumCoins</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>2400</integer>
						<key>premiumCoins</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>8100</integer>
						<key>premiumCoins</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>19200</integer>
						<key>premiumCoins</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>37500</integer>
						<key>premiumCoins</key>
						<integer>6</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>64800</integer>
						<key>premiumCoins</key>
						<integer>9</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>102900</integer>
						<key>premiumCoins</key>
						<integer>13</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>153600</integer>
						<key>premiumCoins</key>
						<integer>18</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>218700</integer>
						<key>premiumCoins</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>300000</integer>
						<key>premiumCoins</key>
						<integer>33</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>399300</integer>
						<key>premiumCoins</key>
						<integer>44</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>518400</integer>
						<key>premiumCoins</key>
						<integer>63</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>659100</integer>
						<key>premiumCoins</key>
						<integer>89</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>823200</integer>
						<key>premiumCoins</key>
						<integer>700</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>1012500</integer>
						<key>premiumCoins</key>
						<integer>1000</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>1228800</integer>
						<key>premiumCoins</key>
						<integer>1011</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>1473900</integer>
						<key>premiumCoins</key>
						<integer>1023</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>1749600</integer>
						<key>premiumCoins</key>
						<integer>1034</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>2057700</integer>
						<key>premiumCoins</key>
						<integer>1045</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>2400000</integer>
						<key>premiumCoins</key>
						<integer>1056</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>2778300</integer>
						<key>premiumCoins</key>
						<integer>1067</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>3194400</integer>
						<key>premiumCoins</key>
						<integer>1078</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>3650100</integer>
						<key>premiumCoins</key>
						<integer>1089</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>4147200</integer>
						<key>premiumCoins</key>
						<integer>1100</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>4687500</integer>
						<key>premiumCoins</key>
						<integer>1111</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>5272800</integer>
						<key>premiumCoins</key>
						<integer>1123</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>5904900</integer>
						<key>premiumCoins</key>
						<integer>1134</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>6585600</integer>
						<key>premiumCoins</key>
						<integer>1145</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>7316700</integer>
						<key>premiumCoins</key>
						<integer>1156</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>8100000</integer>
						<key>premiumCoins</key>
						<integer>1167</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>8937300</integer>
						<key>premiumCoins</key>
						<integer>1178</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>9830400</integer>
						<key>premiumCoins</key>
						<integer>1189</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>10781100</integer>
						<key>premiumCoins</key>
						<integer>1200</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>11791200</integer>
						<key>premiumCoins</key>
						<integer>1211</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>12862500</integer>
						<key>premiumCoins</key>
						<integer>1223</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>13996800</integer>
						<key>premiumCoins</key>
						<integer>1234</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>15195900</integer>
						<key>premiumCoins</key>
						<integer>1245</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>16461600</integer>
						<key>premiumCoins</key>
						<integer>1256</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>17795700</integer>
						<key>premiumCoins</key>
						<integer>1267</integer>
					</dict>
					<dict>
						<key>coins</key>
						<integer>19200000</integer>
						<key>premiumCoins</key>
						<integer>1278</integer>
					</dict>
				</array>
			</dict>
			<key>upgrades</key>
			<array>
				<dict>
					<key>price</key>
					<dict>
						<key>coins</key>
						<integer>250</integer>
						<key>premiumCoins</key>
						<integer>2</integer>
					</dict>
					<key>bucketSize</key>
					<integer>270</integer>
				</dict>
				<dict>
					<key>price</key>
					<dict>
						<key>coins</key>
						<integer>2000</integer>
						<key>premiumCoins</key>
						<integer>10</integer>
					</dict>
					<key>bucketSize</key>
					<integer>540</integer>
				</dict>
				<dict>
					<key>price</key>
					<dict>
						<key>coins</key>
						<integer>6750</integer>
						<key>premiumCoins</key>
						<integer>34</integer>
					</dict>
					<key>bucketSize</key>
					<integer>2160</integer>
				</dict>
				<dict>
					<key>price</key>
					<dict>
						<key>coins</key>
						<integer>4320</integer>
						<key>premiumCoins</key>
						<integer>11</integer>
					</dict>
					<key>bucketSize</key>
					<integer>4320</integer>
				</dict>
				<dict>
					<key>price</key>
					<dict>
						<key>coins</key>
						<integer>12960</integer>
						<key>premiumCoins</key>
						<integer>22</integer>
					</dict>
					<key>bucketSize</key>
					<integer>12960</integer>
				</dict>
			</array>
		</dict>
		<key>engines</key>
		<dict>
			<key>engine_1</key>
			<dict>
				<key>price</key>
				<dict>
					<key>coins</key>
					<integer>0</integer>
					<key>premiumCoins</key>
					<integer>0</integer>
				</dict>
				<key>wagonAllowance</key>
				<integer>3</integer>
			</dict>
			<key>engine_2</key>
			<dict>
				<key>price</key>
				<dict>
					<key>coins</key>
					<integer>2400</integer>
					<key>premiumCoins</key>
					<integer>6</integer>
				</dict>
				<key>wagonAllowance</key>
				<integer>6</integer>
			</dict>
			<key>engine_3</key>
			<dict>
				<key>price</key>
				<dict>
					<key>coins</key>
					<integer>8100</integer>
					<key>premiumCoins</key>
					<integer>10</integer>
				</dict>
				<key>wagonAllowance</key>
				<integer>10</integer>
			</dict>
			<key>engine_4</key>
			<dict>
				<key>price</key>
				<dict>
					<key>coins</key>
					<integer>19200</integer>
					<key>premiumCoins</key>
					<integer>15</integer>
				</dict>
				<key>wagonAllowance</key>
				<integer>15</integer>
			</dict>
			<key>engine_5</key>
			<dict>
				<key>price</key>
				<dict>
					<key>coins</key>
					<integer>37500</integer>
					<key>premiumCoins</key>
					<integer>20</integer>
				</dict>
				<key>wagonAllowance</key>
				<integer>20</integer>
			</dict>
			<key>engine_6</key>
			<dict>
				<key>price</key>
				<dict>
					<key>coins</key>
					<integer>64800</integer>
					<key>premiumCoins</key>
					<integer>25</integer>
				</dict>
				<key>wagonAllowance</key>
				<integer>25</integer>
			</dict>
			<key>engine_7</key>
			<dict>
				<key>price</key>
				<dict>
					<key>coins</key>
					<integer>102900</integer>
					<key>premiumCoins</key>
					<integer>30</integer>
				</dict>
				<key>wagonAllowance</key>
				<integer>30</integer>
			</dict>
			<key>engine_8</key>
			<dict>
				<key>price</key>
				<dict>
					<key>coins</key>
					<integer>153600</integer>
					<key>premiumCoins</key>
					<integer>35</integer>
				</dict>
				<key>wagonAllowance</key>
				<integer>35</integer>
			</dict>
			<key>engine_9</key>
			<dict>
				<key>price</key>
				<dict>
					<key>coins</key>
					<integer>218700</integer>
					<key>premiumCoins</key>
					<integer>40</integer>
				</dict>
				<key>wagonAllowance</key>
				<integer>40</integer>
			</dict>
		</dict>
		<key>experiencePoints</key>
		<array>
			<integer>0</integer>
			<integer>3</integer>
			<integer>12</integer>
			<integer>23</integer>
			<integer>48</integer>
			<integer>70</integer>
			<integer>96</integer>
			<integer>126</integer>
			<integer>200</integer>
			<integer>248</integer>
			<integer>300</integer>
			<integer>358</integer>
			<integer>504</integer>
			<integer>585</integer>
			<integer>672</integer>
			<integer>765</integer>
			<integer>1008</integer>
			<integer>1131</integer>
			<integer>1260</integer>
			<integer>1397</integer>
			<integer>1760</integer>
			<integer>1932</integer>
			<integer>2112</integer>
			<integer>2300</integer>
			<integer>2808</integer>
			<integer>3038</integer>
			<integer>3276</integer>
			<integer>3524</integer>
			<integer>4200</integer>
			<integer>4495</integer>
			<integer>4800</integer>
			<integer>5115</integer>
			<integer>5984</integer>
			<integer>6353</integer>
			<integer>6732</integer>
			<integer>7123</integer>
			<integer>8208</integer>
			<integer>8658</integer>
			<integer>9120</integer>
			<integer>9594</integer>
			<integer>10920</integer>
			<integer>11460</integer>
			<integer>12012</integer>
			<integer>12578</integer>
			<integer>14168</integer>
			<integer>14805</integer>
			<integer>15456</integer>
			<integer>16121</integer>
			<integer>18000</integer>
			<integer>18743</integer>
		</array>
		<key>inAppPurchase</key>
		<dict>
			<key>coinPackages</key>
			<array>
				<dict>
					<key>price</key>
					<real>0.89</real>
					<key>moreToPrevious</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>price</key>
					<real>4.49</real>
					<key>moreToPrevious</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>price</key>
					<real>8.99</real>
					<key>moreToPrevious</key>
					<integer>15</integer>
				</dict>
			</array>
			<key>premiumCoinPackages</key>
			<array>
				<dict>
					<key>price</key>
					<real>1.79</real>
					<key>moreToPrevious</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>price</key>
					<real>4.49</real>
					<key>moreToPrevious</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>price</key>
					<real>8.99</real>
					<key>moreToPrevious</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>price</key>
					<real>21.99</real>
					<key>moreToPrevious</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>price</key>
					<real>44.99</real>
					<key>moreToPrevious</key>
					<integer>40</integer>
				</dict>
				<dict>
					<key>price</key>
					<real>89.99</real>
					<key>moreToPrevious</key>
					<integer>50</integer>
				</dict>
			</array>
		</dict>
		<key>gameSettings</key>
		<dict>
			<key>coinGeneration</key>
			<dict>
				<key>duration</key>
				<integer>20</integer>
			</dict>
		</dict>
	</dict>
</plist>
